*.iml
.gradle/
.idea/
.letta/
.DS_Store
build/
captures/
local.properties
**/local.properties
**/build/
**/.cxx/
**/*.keystore
**/*.jks
**/*.hprof
**/.externalNativeBuild/
**/.kotlin/
**/generated/
**/.idea/